.field{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.field input, .field select{
    height: 30px;
    padding: 2px;
}
.field button{
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
}